{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
    
     <li><a href="mailto:{{gprasad@colgate.edu}}"><i class="fa fa-fw fa-envelope-square" aria-hidden="true"></i> gprasad@colgate.edu</a></li>

    <li><a href="https://github.com/grushaprasad"><i class="fa fa-fw fa-github" aria-hidden="true"></i> grushaprasad</a></li>

    <li><a href="https://twitter.com/grushaprasad"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> grushaprasad</a></li>

    
    <!-- {% if site.twitter.username %}
      <li><a href="https://twitter.com/grushaprasad"><i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> grushaprasad</a></li>
    {% endif %}
    {% if site.facebook.username %}
      <li><a href="https://facebook.com/{{ site.facebook.username }}"><i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="http://github.com/grushaprasad"><i class="fa fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.bitbucket %}
      <li><a href="http://bitbucket.org/{{ site.author.bitbucket }}"><i class="fa fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %} -->
  </ul>
</div>

<div class="page__footer-copyright"> Last updated on {{ site.time}}.</div>
